Flask==2.2.5
Werkzeug==2.2.3
torch==1.13.1
xgboost==1.7.6
pytorch-tabnet==4.0
pennylane==0.32.0
joblib==1.3.2
flake8==6.1.0
pandas==2.2.2
numpy==1.24.4           # Must be pinned for compatibility with torch 1.13.1
scikit-learn==1.3.2      # Used often with joblib
